# Server Configuration
API_ENV=
API_KEY=
API_URL=
API_PORT=
API_VERSION=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=

# Database Configuration
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

# SendGrid Configuration
SENDGRID_API_KEY=
SENDGRID_EMAIL_FROM=
SENDGRID_TEMPLATE_ID_RESET_PASSWORD=

# Seeds
SEED_ADMIN_EMAIL=
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Frontend Configuration
FRONT_URL=
